.modal-content {
    border-radius: 0 !important; /* Remove border radius */
  }
  
.audio-player{
    margin-top: 10px;
}
  
  .play-button {
    margin-right: 10px; /* Adjust the spacing between the play button and waveform */
  }
  