.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.centered-paragraph {
  text-align: center;
  margin-top: 20px; 
  position: fixed; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  padding: 10px; 
  z-index: 999; 
}


/* Update your CSS */
.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: green; /* Applies a full grayscale filter to the map */
}

.marker-button {
  position: absolute !important; 
}

.marker-button .marker-icon {
  color: #e70808; 
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* A higher value, e.g., 1000, to ensure it's on top */
}